body {
    background: url(../images/bg.jpg) no-repeat #fff center top;
    padding: 0;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 13px;
    margin: 0px auto auto auto;
    color: #000;
    align-content: center;
}




#container {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 0px;
    text-align: center;
    border-style: dotted;
    border-width: 1px;
    overflow: auto;
}

#banner_top {
    width: 100%;
    height: 173px;
    background-image: url(../images/header_bg.jpg) ;
    background-size:100% 100%;
    background-position: 0px 0px;
    margin: auto;
}

#top_bar {
    width: 100%;
    height: 38px;
    background-color: #4a4a4a;
    color: #fff;
}

#logo {
    float: left;
    height: 100%;
    text-align: center;
}

/*---------------- Menu Ngang ---------------*/
#nav {
    width: 100%;
    height: 40px;
    background-image: url(../images/menu_bg.gif);
    background-repeat:repeat-x;
    margin:auto;
    margin-top: -12px;
}

#nav>ul li{
    float:left;
    margin-right:5px;
    margin-left:5px;
    list-style-type:none;
    font-weight:bold;
    
}

#nav li.divider{
    display:inline;
    width:2px;
    height:35px;
    float:left;
    background:url(../images/menu_divider.gif) no-repeat center;
}

#nav>ul li {
    position:relative;
}

#nav>ul li a{
    text-transform:uppercase;
    color:#000;
    text-decoration:none;
    padding:10px;
    line-height:20px;
    display:inline-block;
}

#nav>ul li a:hover{
    color:#999999;
}

#nav > ul .sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100px;
    width: 130px;
    background-color: #eee;
    padding: 5px 20px 0px 5px;
    text-align: left;
}

#nav ul .sub-menu{
    top:40px;
    left:0;
}

#nav>ul .sub-menu li a{
    padding-left:5px;
    text-transform:none;
}

#nav>ul li:hover>.sub-menu{
    display:block;
    list-style-type:none;
}


/*---------------- Left content-------------*/


#left {
    width: 20%;
    height: auto;
    float: left;
}

.title_box{
    width:100%;
    height:30px;
    margin:10px 0 0 0;
    background:url(../images/menu_title_bg.gif) repeat-x center;
    text-align:center;
    font-size:13px;
    font-weight:bold;
    color:#fff;
    line-height:30px
}

ul.left_menu{
    padding:0px;
    margin:0px;
    list-style:none;
    width:100%;
}

ul.left_menu li{
    margin:0px;
    list-style:none;
    text-align:left;
}

ul.left_menu li.odd a{
    height:25px;
    display:block;
    background: url(../images/checked.png) no-repeat left #dad0d0;
    background-position:5px 5px;
    border-bottom:1px #FFFFFF solid;
    text-decoration:none;
    color:#504b4b;
    padding:0 0 0 30px;
    line-height:25px;
}

ul.left_menu li.even a {
    height: 25px;
    display: block;
    background: url(../images/checked.png) no-repeat left #eee6e6;
    background-position: 5px 5px;
    border-bottom: 1px #FFFFFF solid;
    text-decoration: none;
    color: #504b4b;
    padding: 0 0 0 30px;
    line-height: 25px;
}

ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover{
    background:url(../images/checked.png) no-repeat left #7bbcc7;
    color:#FFFFFF;
    background-position:5px 5px;
}

/*-------------------Product---------------------*/
.border_box{
    height:auto;
    text-align:center;
    border:1px #6da6b1 solid;
}

.product_title{
    color:#ea2222;
    padding:5px 0 5px 0;
    font-weight:bold;
}

.product_title a{
    text-decoration:none;
    color:#ea2222;
    padding:5px 0 5px 0;
    font-weight:bold;
}

.product_title a:hover{
    color:#064E5A;
}

.product_img{
    padding:5px 0 5px 0;
}

.prod_price{
    padding:5px 0 5px 0;
}

span.reduce{
    color:#999999;
    text-decoration:line-through;
}

span.price{
    color:#ea2222;
}

/*------------------Newsletter----------------------*/
input.newsletter_input{
    width:90%;
    height:16px;
    border:1px #ddd9d9 solid;
    margin: 5px 0 5px 0;
    font-size:12px;
    padding:3px;
    color:#999999;
}

a.join{
    width:17px;
    display:block;
    margin:5px 0 5px 140px;
    background:url(../images/blue-add.png) no-repeat left;
    padding: 0 0 0 20px;
    text-decoration:none;
    color:#1c4a52;
}


/*------------------Main content ----------------*/

#maincontent {
    width: 49.5%;
    height: 600px;
    float: left;
    border-style: dotted;
    border-width: 1px;
    background-color: #999999;
}


/*----------------Right content----------------*/
#right {
   
    width: 30%;
    height: 600px;
    float: right;
    border-style: dotted;
    border-width: 1px;
    background-color: #999999;
}

#captionright{
    font-size: 200px;

}

.xethocba{
    text-align: left;
}
.xethocba .note{
    text-align: right;

}
table td{
   
    padding:5px 0 5px 0;
}

/*-----------------table----------------------*/
#right
{
    border:#000 2px;
    background-color: rgb(4, 138, 138);
}



/*---------------Footer-----------------------*/
#footer {
    width: 100%;
    background-color: rgb(4, 138, 138);
    background-image: linear-gradient(rgb(79, 182, 223),rgb(22, 149, 199));
    height: 100px;
    float: left;
}



/*----------------Search----------------------*/
.top_search{
    width:370px;
    height:32px;
    margin:0px 20px 0 0;
    float:right;
    background:url(../images/top_search_bg.gif) no-repeat center;
}

.search_text{
    float:left;
    width:110px;
    padding:8px 0 0 15px;
    color:#999999;
}

.search_text a {
    text-decoration:none;
    color:#999999;
}

.search_bt{
    float:left;
    padding:2px 0 0 15px;
}


input.search_input{
    width:182px;
    height:18px;
    float:left;
    margin:5px 0 0 0;
    border:1px solid #dbdbdb;
    border-bottom-color:#ffffff;
    border-right-color:#ffffff;
}

.languages{
    float:right;
    width:150px;
    padding:8px 0 0 0;
}

.lang_text{
    float:left;
    padding:0 5px 0 0;
    color: #b3adad;
}

div.languages a {
    display: block;
    float: left;
    padding: 0 5px 0 5px;
}

#logo{
    float:left;
    height:100%;
    text-align:center;
}

#logo>img{
    width: 120px;
    height:120px;
    padding-top:12px;
}
